*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --height_nav: 50px;
    --academlo_color:hsl(354, 78%, 60%);
    --second_color: whitesmoke;
    --font_color: black;
    --sombra:  #100907;
    --buttpn_card_color:black;
    --show_button_color:whitesmoke;
}

a{
    text-decoration: none;
}

i{
    cursor: pointer;
}

img{
    width: 100%;
    display: block;
}

header{
    height: var(--height_nav);
    background-color: var(--second_color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

p, button, h1, h3,i , h4, span{
    color: var(--font_color);
}


.navbar{
    max-width: 1024px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(100px, 2fr));
    align-items: center;
    padding: 0 1rem;
}

.nav_logo-icon{
    cursor: pointer;
}

.store_button{
    color: var(--font_color);
}

.home{
    display: flex;
    align-items: center; 
    gap: 0.5rem;
}

.home a {
    color:var(--font_color);
}

.logo{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.cart_section{
    display: flex;
    gap: 0;
    align-items: flex-end;
    justify-content: end;
}

.navbar > .cart_section > button{
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    order: 1;
    background-color: transparent;
    border: none;

}

.bxs-moon{
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: none;
    font-size: 2rem;
}

.bxs-sun{
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    font-size: 2rem;
}


.nav_logo-icon {
    width: 40px;
    fill: var(--academlo_color);
}

.main{
    margin: 0 auto;
    max-width: 1024px;
    height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img_section{
    height: 55%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_img{
    background-color: var(--academlo_color);
    grid-column: 2;
    display: flex;
    align-items: center;
    min-height: 400px;
}

.main_info{
    height: 45%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

h1{
    font-size: 2rem;
    color: var(--font_color);
    padding-top: var(--height_nav);
}

.main_text{
    color:hsl(0, 0%, 55%);
}

.main_price{
    color: var(--academlo_color);
    font-size: 1.5rem;
}

.main_button{
    text-decoration: none;
    width: 160px;
    padding: 0.9rem;
    font-size: 1rem;
    background-color: var(--sombra);
    color: var(--show_button_color);
    text-align: center;
}

.filter_button{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;;
}

.botonera{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 2rem;
    text-align: center;
}

.botonera button{
    background-color: transparent;
    border: transparent;
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonera button:hover{
    background-color: var(--sombra);
    color: var(--show_button_color);
}

.button_click{
    background-color: var(--font_color);
    color: var(--second_color);
}

.container{
    max-width: 150vh;
    margin:0 auto;
    padding-top: var(--height_nav);
}

.productos{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1024px;
    margin: 0 auto;
    gap: 2rem;
}

.product{
    border-radius: 1rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}


.product_img{
    margin: 5px;
    border-radius: 1rem;
    background-color: #ccc;
    padding: 1rem;
}

.product_img img:hover{
    animation: movimiento .7s;

}

.bx-plus, .bx-minus, .bxs-trash{
    color: var(--buttpn_card_color);
}

@keyframes movimiento {
    0% {
      transform: translatey(0);
    }
    100% {
      transform: translatey(-20px); 
    }
  }

.product_info{
    padding: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;

}

.bx{
    cursor: pointer;
}

.bxs-cart-add{
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--font_color);
    color: var(--second_color);
}

.cart{
    top: 0;
    right: 0;
    width: 100%;
    max-width: 700px;
    height: 100vh;
    background-color:var(--second_color);
    position: fixed;
    gap: 1rem;
    transition: transform 0.5s;
    transform: translateX(100%);
    z-index: 100000;
}

.cart--show{
    transform: translateX(0%);
}

.cart_nav{
    height: 8.75%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--second_color);
    align-items: center;
}

.bi-moon-fill{
    color: var(--font_color);
}

.bx-exit{
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    margin-left: auto;
    cursor: pointer;
}

.cart_products{
    height: 75.25%;
    overflow-y:scroll ;
}

.cart_product{
    display: grid;
    grid-template-columns:1fr 2fr;
    border-radius: 1rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 1rem;
    align-items: center;
}

.cart_product_img{
    border: 1px solid var(--academlo_color);
    border-radius: 0.5rem;
    background-color: #ccc;
}

.cart_product_info{
    padding: 1rem;
    display: inline;
    text-align: center;
}

.cart_product_info_text{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 0rem;
    flex-grow: 1;
}

.cart_total{
    height: 17%;
    background-color:var(--second_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.cart_total_info{
    display: flex;
    justify-content: space-between;
}

.btn_buy{
    background-color: var(--academlo_color);
    padding: 1rem;
    box-shadow:1rem 1rem 1rem rgba(0,0,0,0.1);
    cursor: pointer;
}

.bi-bag-x{
    font-size: 3rem;
}
.total_products{
    position: absolute;
    top: 24px;
    left: 1fr;
    width: 20px;
    height: 20px;
    background-color: var(--font_color);
    color: var(--second_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    border-radius: 50%;
    font-weight: 700;
}

@media screen and (min-width: 600px){
    .cart{
        width: 33%;
    }

    .main{
        display: flex;
        flex-direction: row-reverse;
    
    }

    .img_section{
        width: 35%;
        top: 0px;
        display: block;
        grid-column: none;
        height: 80vh;
    }


    .main_info{ 
        width: 60%;
        align-content: center;
        justify-content: center;
        height: 80vh;
        margin: 0;
        padding: 0;
    }

    h1{
        font-size: 3rem;
    }

    .botonera{
  
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 0.5rem;
    }

}

body.dark-mode{
    background-color:hsl(249, 19%, 14%) ;
    --academlo_color:hsl(182, 53%, 74%);
    --second_color: #162544 ;
    --font_color: whitesmoke;
    --sombra: hsl(246, 16%, 12%);
    --buttpn_card_color: black;
}

 
